#login {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: #FAFBFC;

  > div {
    flex: 1;
  }

  .login-box {
    position: relative;
    background-color: #fff;
  }

  .login-container {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 476px;
    transform: translate(-50%, -50%);

    :global {
      .p-form {
        display: flex;
        row-gap: 24px;
        flex-flow: column nowrap;
      }
    }

    .form-item label {
      display: flex;
      row-gap: 8px;
      flex-flow: column nowrap;
      color: #858A99;

      :global {
        .p-inputtext::placeholder {
          font-size: 16px;
          color: #DCDDE1;
        }
      }
    }
  }
}
